@charset "UTF-8";
/**
 * @file
 * SCSS file to generate CSS.
 *
 * Layout SCSS.
 */
/* Import of variables created for site */
/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */
/**
 * Color code
 */
/**
 * @file
 * SCSS file for Mixins.
 *
 * All mixins used in SCSS are defined in this file.
 */
/**
 * @file
 * SCSS file to generate CSS.
 *
 * Base css of site
 */
* {
  line-height: normal;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  *:hover, *:focus {
    outline: none; }

body {
  margin: 0;
  padding-bottom: 50px;
  background-color: #F5F5F5;
  font-size: 14px;
  font-family: sans-serif; }

a,
button.link {
  background-color: transparent;
  color: #0073AA;
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none; }
  a:hover, a:focus,
  button.link:hover,
  button.link:focus {
    outline: none; }

img {
  height: auto;
  max-width: 100%; }

video {
  height: auto;
  width: 100%; }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 * - Container panel
 * - Admin list
 * - Detail and summary tag
 * - Header section
 * - Breadcrumb
 * - Tabs
 * - Table listing
 * - Form element
 * - Pagination
 * - Popup (ui-dialog)
 * - contextual link
 */
/**
 * Container panel
 */
.panel {
  margin: 0 0 20px;
  padding: 0;
  border: 1px solid #E5E5E5;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
  .panel .panel__title {
    margin: 0;
    padding: 12px 20px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 16px; }
  .panel .panel__content {
    padding: 0; }

/* End */
/**
 * Admin list
 */
.white-bg {
  background-color: #FFF; }

ul.admin-list {
  margin: 0;
  padding: 0 20px;
  list-style: none; }
  ul.admin-list li {
    padding: 10px 0;
    border-bottom: 1px solid #E5E5E5; }
    ul.admin-list li:last-child {
      border-bottom: none; }
    ul.admin-list li a {
      background-position: center left;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      font-family: sans-serif; }
      ul.admin-list li a:hover {
        opacity: .8; }
    ul.admin-list li .description {
      margin-top: 3px; }

/* End */
/**
 * Detail and summary tag
 */
details {
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 14px;
  border: 1px solid #E5E5E5;
  background-color: #FFF; }
  details summary {
    margin-bottom: 14px;
    padding: 0 0 8px;
    border-bottom: 1px solid #E5E5E5; }

/* End */
/**
 * Header section
 */
.js-quickedit-page-title {
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #263951;
  color: #FFF;
  font-weight: normal;
  font-family: sans-serif; }
  .js-quickedit-page-title h1 {
    display: inline-block;
    width: 100%; }

/* End */
/**
 * Breadcrumb
 */
.breadcrumb {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFF; }
  .breadcrumb ol {
    margin: 0;
    padding: 0;
    list-style: none; }
    .breadcrumb ol li {
      display: inline; }
      .breadcrumb ol li::before {
        content: '»'; }
      .breadcrumb ol li:first-child::before {
        content: ''; }

/* End */
/**
 * Tabs
 */
ul.tabs {
  padding: 0;
  list-style: none; }

/* Horizontal tab */
.is-horizontal .tabs {
  position: relative;
  background-color: #FFF; }
  .is-horizontal .tabs::before {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    z-index: 10;
    display: block;
    height: 1px;
    background-color: #A6A6A6;
    content: ''; }
  .is-horizontal .tabs.primary {
    clear: both;
    margin: 15px 0; }
    .is-horizontal .tabs.primary li a {
      margin: 0 0 -1px;
      padding: 13px 28px; }
      .is-horizontal .tabs.primary li a.is-active {
        padding-top: 10px;
        border: 1px solid #A6A6A6;
        border-top: 3px solid #0073AA;
        border-bottom: none;
        background-color: #F1F1F1; }
    @media (max-width: 992px) {
      .is-horizontal .tabs.primary li a {
        padding: 9px 13px; }
        .is-horizontal .tabs.primary li a.is-active {
          padding-top: 6px; } }
  .is-horizontal .tabs.secondary li a {
    border-bottom: 2px solid transparent; }
    .is-horizontal .tabs.secondary li a.is-active {
      border-bottom-color: #0073AA;
      color: #004F80; }
  .is-horizontal .tabs a {
    display: block;
    padding: 10px 25px; }

.is-horizontal li {
  float: left;
  height: auto;
  width: auto;
  text-align: center; }
  .is-horizontal li a {
    position: relative;
    z-index: 15; }

.is-horizontal .tabs__trigger {
  display: none; }

/* Vertical tab */
.vertical-tabs {
  background-color: #FFF; }
  .vertical-tabs .vertical-tabs__menu-item a:hover, .vertical-tabs .vertical-tabs__menu-item a:focus {
    outline: none; }

/**
 * Table listing
 */
.js table td .dropbutton-wrapper {
  min-height: 20px; }

table {
  width: 100%;
  margin: 0 0 10px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #FFF; }
  table thead tr {
    background-color: #CCC; }
    table thead tr:hover {
      background-color: #CCC; }
  table thead th {
    padding: 7px 12px;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top; }
  table tr {
    border-bottom: 1px solid #E5E5E5; }
    table tr:hover {
      background-color: #F5F5F5; }
    table tr td {
      padding: 7px 12px;
      text-align: left;
      vertical-align: middle; }
    table tr.region-title {
      border-bottom: none;
      background-color: #EEE; }
      table tr.region-title:hover {
        background-color: #F5F5F5; }
  table .draggable .tabledrag-handle {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 3px 5px 0 0; }
    table .draggable .tabledrag-handle .handle {
      display: inline-block;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      background-position: center; }
  table .form-item,
  table .form-actions {
    margin-top: 0;
    margin-bottom: 0; }

.touchevents .draggable td {
  padding: 7px 12px; }

@media (max-width: 1024px) {
  .responsive-tbl {
    min-height: 190px;
    overflow-x: auto; } }

/* End */
/**
 * Form element
 */
.form--inline .form-item {
  float: left;
  margin-right: 10px; }
  .form--inline .form-item label {
    display: table; }

.form--inline .form-actions {
  clear: left; }

.form-item,
.form-actions {
  margin-top: 10px;
  margin-bottom: 10px; }

/* End */
/**
 * Pagination
 */
.pager {
  text-align: center; }
  .pager .pager__items {
    display: inline-block;
    padding: 0;
    text-align: center;
    list-style: none; }
    .pager .pager__items .pager__item {
      float: left;
      margin-left: -1px;
      border: 1px solid #222; }
      .pager .pager__items .pager__item:first-child {
        border-left: none; }
      .pager .pager__items .pager__item:last-child {
        border-right: none; }
      .pager .pager__items .pager__item a {
        display: flex;
        height: 28px;
        padding: 3px 17px;
        background-color: #23282D;
        color: #FFF;
        align-items: center; }
        .pager .pager__items .pager__item a:hover, .pager .pager__items .pager__item a:focus {
          height: 38px;
          margin-top: -10px; }
      .pager .pager__items .pager__item.is-active a {
        height: 38px;
        margin-top: -10px; }
      .pager .pager__items .pager__item.pager__item--previous {
        border-right: 3px solid #999; }
      .pager .pager__items .pager__item.pager__item--next {
        border-left: 2px solid #999; }
      .pager .pager__items .pager__item.pager__item--previous a::after, .pager .pager__items .pager__item.pager__item--next a::after {
        display: inline-block;
        font-size: 20px;
        content: '-'; }
      .pager .pager__items .pager__item.pager__item--previous a span, .pager .pager__items .pager__item.pager__item--next a span {
        font-size: 0; }
      .pager .pager__items .pager__item.pager__item--next a::after {
        content: '+'; }
    .pager .pager__items .pager__item--ellipsis {
      display: none; }

/* End */
/**
 * Popup (ui-dialog)
 */
.ui-dialog {
  z-index: 999 !important;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .ui-dialog .ui-dialog-titlebar {
    border: none;
    background-color: #263951;
    background-image: none;
    color: #FFF;
    font-size: 20px;
    font-weight: normal;
    font-family: sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .ui-dialog .ui-dialog-titlebar .ui-button {
      border: none;
      background-color: transparent;
      background-image: none;
      color: #FFF;
      opacity: .8; }
      .ui-dialog .ui-dialog-titlebar .ui-button:hover, .ui-dialog .ui-dialog-titlebar .ui-button:focus {
        opacity: 1; }
      .ui-dialog .ui-dialog-titlebar .ui-button .ui-icon {
        background-image: url("../images/close-icon.svg");
        background-position: center; }
  .ui-dialog .ui-widget-content {
    padding: 15px; }
    .ui-dialog .ui-widget-content table {
      margin-bottom: 15px; }
    .ui-dialog .ui-widget-content ul.action-links {
      margin: 0; }
      .ui-dialog .ui-widget-content ul.action-links a {
        color: #FFF; }
    .ui-dialog .ui-widget-content .js-form-item .form-textarea {
      width: 100%; }

/* End */
/**
 * contextual link
 */
.contextual-region .contextual .trigger:focus {
  background-color: #FCFCFC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.contextual-region .contextual .contextual-links {
  background-color: #FCFCFC; }
  .contextual-region .contextual .contextual-links li {
    background-color: #FCFCFC; }
    .contextual-region .contextual .contextual-links li a {
      background-color: #FCFCFC; }

/* End */
/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 * - Label Design
 * - Textarea Design
 * - Button Design
 * - Custom checkbox design
 * - Select option
 * - Dropbutton
 *
 */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='search'],
textarea,
select,
.form-control {
  height: 30px;
  width: auto;
  padding: 4px 12px;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  line-height: normal;
  font-family: sans-serif;
  vertical-align: middle;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='search']:focus,
textarea:focus,
select:focus,
.form-control:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='search'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* Label Design */
label {
  display: table;
  font-family: sans-serif; }

label.option {
  display: inline-block;
  font-family: sans-serif; }

/* Textarea Design */
textarea {
  height: auto; }

/* Button Design */
.button,
button,
input[type='submit'],
input[type='button'],
.ui-dialog .dropbutton-action a,
.ui-dialog .ui-dialog-buttonpane button,
.dropbutton-single .dropbutton-action .use-ajax {
  display: inline-block;
  height: 30px;
  width: auto;
  padding: 5px 15px;
  border: none;
  background-color: #0073AA;
  background-image: none;
  color: #FFF;
  font-size: 14px;
  line-height: normal;
  font-family: sans-serif;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
.ui-dialog .dropbutton-action a:hover,
.ui-dialog .ui-dialog-buttonpane button:hover,
.dropbutton-single .dropbutton-action .use-ajax:hover {
  opacity: .9; }

.button:focus,
button:focus,
input[type='submit']:focus,
input[type='button']:focus,
.ui-dialog .dropbutton-action a:focus,
.ui-dialog .ui-dialog-buttonpane button:focus,
.dropbutton-single .dropbutton-action .use-ajax:focus {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); }

/* UI dialog button design */
.ui-dialog .ui-dialog-buttonpane button {
  margin-top: 0;
  margin-bottom: 0; }

.ui-button-text-only .ui-button-text {
  padding: 0; }

/* For small elements */
.dropbutton-single .dropbutton-action .use-ajax,
.ui-dialog .dropbutton-action a,
.button--small {
  height: 22px;
  padding: 2px 8px;
  font-size: 12px; }

table input[type='text'],
table input[type='email'],
table input[type='password'],
table input[type='number'],
table input[type='tel'],
table select,
table .form-control {
  height: 22px;
  padding: 1px 8px;
  font-size: 12px; }

table select {
  height: 22px;
  padding-right: 17px;
  background-position: center right 6px;
  background-size: 10px auto; }

/* End */
/* Custom checkbox design */
.input-rc {
  position: relative;
  display: inline-block; }
  .input-rc + label {
    margin: -2px 0 0;
    padding-left: 5px;
    vertical-align: top; }

.input-rc input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0; }
  .input-rc input[type='checkbox'] + .input-rc-span {
    float: left;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0;
    background-image: url("../images/checkbox.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    content: ''; }
  .input-rc input[type='checkbox']:checked + .input-rc-span {
    background-image: url("../images/checkbox-check.png");
    background-repeat: no-repeat; }

.input-rc-disabled {
  opacity: .5; }

.input-rc-none {
  display: none; }

/* Select option */
select {
  padding-top: 2px;
  padding-right: 25px;
  padding-bottom: 2px;
  border: 1px solid #CCC;
  background-image: url("../images/arrow-down-black.png");
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: 12px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; }

select[multiple='multiple'] {
  height: 100px;
  background-image: none; }

/* Dropbutton */
.js .dropbutton-multiple .dropbutton-widget {
  min-width: 80px;
  padding-right: 22px;
  border: 1px solid #A6A6A6;
  background-color: #FFF; }
  .js .dropbutton-multiple .dropbutton-widget .dropbutton .dropbutton-action a {
    padding: 2px 7px;
    color: #000;
    font-size: 12px; }
  .js .dropbutton-multiple .dropbutton-widget .dropbutton .dropbutton-toggle {
    width: 22px; }
    .js .dropbutton-multiple .dropbutton-widget .dropbutton .dropbutton-toggle button {
      border-left: 1px solid #A6A6A6;
      color: #000; }
      .js .dropbutton-multiple .dropbutton-widget .dropbutton .dropbutton-toggle button:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none; }
      .js .dropbutton-multiple .dropbutton-widget .dropbutton .dropbutton-toggle button .dropbutton-arrow {
        right: 50%;
        margin-top: -1px;
        margin-right: -5px; }
  .js .dropbutton-multiple .dropbutton-widget .dropbutton .secondary-action {
    border-top: 1px solid #A6A6A6; }

/* End */
/**
 * @file
 * SCSS file to generate CSS.
 *
 * Nominal Admin theming.
 * |- Admin menu SCSS
 */
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 200px; }
  body.toolbar-tray-open.toolbar-vertical.toolbar-fixed .toolbar .toolbar-tray-vertical {
    height: -webkit-calc(100% - 30px);
    height: -moz-calc(100% - 30px);
    height: calc(100% - 30px);
    overflow: auto; }

/**
 * Main menu
 */
.toolbar-tray.toolbar-tray-vertical .toolbar-lining {
  overflow: auto;
  background-color: #23282D; }
  .toolbar-tray.toolbar-tray-vertical .toolbar-lining[role='navigation'] {
    padding-bottom: 30px; }

.toolbar .toolbar-tray-horizontal > .toolbar-lining {
  padding-right: 0; }

.toolbar .toolbar-tray-horizontal .toolbar-menu li {
  border: none; }
  .toolbar .toolbar-tray-horizontal .toolbar-menu li a.toolbar-icon {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #23282D;
    color: #FFF;
    text-decoration: none; }
    .toolbar .toolbar-tray-horizontal .toolbar-menu li a.toolbar-icon.is-active {
      background-color: #0073AA; }
    .toolbar .toolbar-tray-horizontal .toolbar-menu li a.toolbar-icon:focus {
      background-color: transparent; }

.toolbar .toolbar-tray-horizontal .menu-item + .menu-item {
  border-color: #000; }

/* Administration toolbar */
.toolbar {
  /* Top horizontal menu */
  /* End */
  /* Admin menu - Vertical menu portion */
  /* End */ }
  .toolbar .toolbar-bar {
    background-color: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
    .toolbar .toolbar-bar .toolbar-tab a.toolbar-item {
      margin-right: 1px;
      padding: 8px 10px 8px 26px;
      font-weight: normal;
      font-family: sans-serif;
      text-decoration: none; }
      .toolbar .toolbar-bar .toolbar-tab a.toolbar-item::before {
        left: 0;
        width: 12px;
        margin-left: 8px; }
      .toolbar .toolbar-bar .toolbar-tab a.toolbar-item:hover, .toolbar .toolbar-bar .toolbar-tab a.toolbar-item.is-active {
        background-color: #23282D;
        background-image: none; }
    @media (max-width: 575px) {
      .toolbar .toolbar-bar .toolbar-tab a.toolbar-item {
        padding-right: 0;
        padding-left: 0; }
        .toolbar .toolbar-bar .toolbar-tab a.toolbar-item::before {
          width: 35px; } }
    .toolbar .toolbar-bar .toolbar-tab .toolbar-icon {
      padding-top: 5px;
      padding-bottom: 5px; }
    .toolbar .toolbar-bar > .toolbar-tab > .toolbar-icon {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 33px; }
      .toolbar .toolbar-bar > .toolbar-tab > .toolbar-icon::before {
        width: 15px; }
      .toolbar .toolbar-bar > .toolbar-tab > .toolbar-icon:hover {
        text-decoration: none; }
    @media (max-width: 575px) {
      .toolbar .toolbar-bar > .toolbar-tab > .toolbar-icon {
        padding-right: 0;
        padding-left: 0; }
        .toolbar .toolbar-bar > .toolbar-tab > .toolbar-icon::before {
          width: 40px;
          margin-left: 7px; } }
  .toolbar .toolbar-tray {
    border: none;
    background-color: #23282D;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
    .toolbar .toolbar-tray.toolbar-tray-vertical {
      width: 200px;
      /* Toolbar tray */
      /* End */ }
      .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu {
        /* Selected menu for 1st level */
        /* End */ }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu > li > a:hover {
          background-color: #191E23;
          /* Black color */ }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu > li > a.is-active {
          background-color: #0073AA;
          /* Seleted blue color */ }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu > li.open > a {
          background-color: #151A1E;
          color: #FFF; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu > li.open > a.is-active {
            background-color: #0073AA;
            /* Seleted blue color */ }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu li a {
          padding: 13px 25px 13px 30px;
          color: #EEE;
          font-size: 13px;
          font-family: sans-serif;
          text-decoration: none; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu li a::before {
            left: 0;
            width: 16px;
            margin-left: 7px; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu li a:active, .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu li a:focus, .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu li a.is-active {
            z-index: 4;
            background-color: transparent;
            color: #FFF;
            font-weight: normal;
            text-decoration: none; }
      .toolbar .toolbar-tray.toolbar-tray-vertical .edit-shortcuts {
        padding: 13px 25px 13px 30px;
        color: #EEE;
        font-size: 13px;
        font-family: sans-serif;
        text-decoration: none; }
      .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root {
        /* Arrow button */
        /* End */
        /* Selected menu for 1st level */
        /* End */
        /* Selected Parent menu */
        /* End */ }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-icon {
          z-index: 5; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-icon:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            box-shadow: none; }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root > li > .toolbar-box > a:hover {
          background-color: #191E23;
          /* Black color */ }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root > li > .toolbar-box > a.is-active {
          background-color: #0073AA;
          /* Seleted blue color */ }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root > li.open > .toolbar-box > a {
          background-color: #151A1E;
          color: #FFF; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root > li.open > .toolbar-box > a.is-active {
            background-color: #0073AA;
            /* Seleted blue color */ }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-menu {
          /* Level 2 menu */
          background-color: #32373C;
          color: #FFF; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-menu li::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 3;
            height: 100%;
            width: 1px;
            margin: -16px 0 0 13px;
            border-left: 1px solid #787878;
            content: ''; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-menu li::after {
            position: absolute;
            top: 0;
            z-index: 3;
            width: 13px;
            margin: 16px 0 0 13px;
            border-top: 1px solid #787878;
            content: ''; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-menu li:last-child::before {
            max-height: 32px; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-menu li a {
            padding-top: 10px;
            padding-bottom: 10px;
            color: #BBB; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-menu li .toolbar-menu {
            /* Level 3 menu */
            padding: 0 0 0 7px; }
            .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-menu li .toolbar-menu li::before {
              height: -webkit-calc(100% + 4px);
              height: -moz-calc(100% + 4px);
              height: calc(100% + 4px); }
            .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root .toolbar-menu li .toolbar-menu li a {
              padding-top: 8px;
              padding-bottom: 8px; }
        .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root li.open > .toolbar-box > a {
          color: #FFF; }
          .toolbar .toolbar-tray.toolbar-tray-vertical .toolbar-menu.root li.open > .toolbar-box > a.is-active {
            color: #FFF; }
    .toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
    .toolbar .toolbar-tray a.is-active {
      color: #FFF;
      font-weight: normal; }
    .toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a:hover,
    .toolbar .toolbar-tray a.is-active:hover {
      color: #FFF; }
  .toolbar .toolbar-toggle-orientation {
    background-color: transparent; }

.toolbar .toolbar-menu {
  background-color: transparent; }

.toolbar .toolbar-tray-vertical li.open > ul {
  top: 0;
  left: 100%; }

.toolbar .toolbar-tray-vertical .menu-item {
  position: relative; }
  .toolbar .toolbar-tray-vertical .menu-item + .menu-item {
    border: none; }

.toolbar .toolbar-icon.toolbar-handle {
  width: 2rem;
  padding-left: 0; }
  .toolbar .toolbar-icon.toolbar-handle::before {
    background-image: url("../images/arrow-down.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px; }
  .toolbar .toolbar-icon.toolbar-handle:focus {
    background-color: transparent; }
  .toolbar .toolbar-icon.toolbar-handle.open::before {
    background-image: url("../images/arrow-down.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle::before {
  left: 0;
  width: 100%;
  background-image: url("../images/arrow-down.png");
  background-size: 10px; }

.toolbar .toolbar-menu .toolbar-menu .toolbar-icon.toolbar-handle.open::before {
  background-image: url("../images/arrow-down.png");
  background-size: 10px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.toolbar .toolbar-icon.toolbar-handle::before {
  left: 0;
  width: 100%; }

.toolbar .toolbar-tray-vertical .toolbar-menu ul ul {
  border: none; }

.toolbar .toolbar-tray-horizontal .toolbar-toggle-orientation {
  border-color: #000; }

.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation {
  border-top: 1px solid #000; }

/**
 * Custom scrollbar
 */
.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.mCSB_inside .mCSB_scrollTools {
  z-index: 10;
  width: 6px;
  opacity: 1; }
  .mCSB_inside .mCSB_scrollTools .mCSB_draggerRail {
    display: none; }
  .mCSB_inside .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    opacity: .3; }

/* Top menu icon */
.toolbar .toolbar-icon-escape-admin::before,
[dir="rtl"] .toolbar .toolbar-icon-escape-admin::before {
  background-image: url("../images/top-menu/chevron-disc-left.svg"); }

.toolbar-bar .toolbar-icon-menu::before,
.toolbar-bar .toolbar-icon-menu:active::before,
.toolbar-bar .toolbar-icon-menu.is-active::before {
  background-image: url("../images/top-menu/hamburger.svg"); }

.toolbar-bar .toolbar-icon-shortcut::before,
.toolbar-bar .toolbar-icon-shortcut:active::before,
.toolbar-bar .toolbar-icon-shortcut.is-active::before {
  background-image: url("../images/top-menu/star.svg"); }

.toolbar-bar .toolbar-icon-user::before,
.toolbar-bar .toolbar-icon-user:active::before,
.toolbar-bar .toolbar-icon-user.is-active::before {
  background-image: url("../images/top-menu/person.svg"); }

.toolbar-bar .toolbar-icon-edit::before {
  background-image: url("../images/top-menu/pencil.svg"); }

/**
 * Main menu icons.
 */
.toolbar-icon-system-admin-content::before,
.toolbar-icon-system-admin-content:active::before,
.toolbar-icon-system-admin-content.is-active::before {
  background-image: url("../images/main-menu/file.svg"); }

.toolbar-icon-system-admin-structure::before,
.toolbar-icon-system-admin-structure:active::before,
.toolbar-icon-system-admin-structure.is-active::before {
  background-image: url("../images/main-menu/orgchart.svg"); }

.toolbar-icon-system-themes-page::before,
.toolbar-icon-system-themes-page:active::before,
.toolbar-icon-system-themes-page.is-active::before {
  background-image: url("../images/main-menu/paintbrush.svg"); }

.toolbar-icon-entity-user-collection::before,
.toolbar-icon-entity-user-collection:active::before,
.toolbar-icon-entity-user-collection.is-active::before {
  background-image: url("../images/main-menu/people.svg"); }

.toolbar-icon-system-modules-list::before,
.toolbar-icon-system-modules-list:active::before,
.toolbar-icon-system-modules-list.is-active::before {
  background-image: url("../images/main-menu/puzzlepiece.svg"); }

.toolbar-icon-system-admin-config::before,
.toolbar-icon-system-admin-config:active::before,
.toolbar-icon-system-admin-config.is-active::before {
  background-image: url("../images/main-menu/wrench.svg"); }

.toolbar-icon-system-admin-reports::before,
.toolbar-icon-system-admin-reports:active::before,
.toolbar-icon-system-admin-reports.is-active::before {
  background-image: url("../images/main-menu/barchart.svg"); }

.toolbar-icon-help-main::before,
.toolbar-icon-help-main:active::before,
.toolbar-icon-help-main.is-active::before {
  background-image: url("../images/main-menu/questionmark-disc.svg"); }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Structure & inner pages
 * Structure
 * |- Block layout
 * |- Content types
 * |- View
 */
/**
 * Block layout page
 */
table#blocks .region-title .region-title__action {
  float: right; }

ul.action-links {
  padding: 0;
  list-style: none; }

/* End */
/**
 * Content types
 */
#field-display-overview .field-plugin-settings-editing {
  background-color: #F1F1F1; }
  #field-display-overview .field-plugin-settings-editing .form-item,
  #field-display-overview .field-plugin-settings-editing .form-actions {
    margin-top: 10px;
    margin-bottom: 10px; }

/* End */
/**
 * View
 */
.views-displays .tabs .action-list input.form-submit {
  color: #0073AA; }

.views-display-column {
  padding: 5px 14px 14px;
  border: 1px solid #FFF;
  background-color: #FFF; }

.views-ui-display-tab-bucket h3 {
  font-size: 14px;
  text-align: left; }

.views-ui-display-tab-bucket .views-display-setting {
  font-size: 14px; }

.js .dropbutton-wrapper.dropbutton-single .dropbutton-widget .dropbutton-action a {
  padding: 1px 7px;
  border: 1px solid #A6A6A6;
  color: #000;
  font-size: 12px; }

.js .views-edit-view .dropbutton-wrapper .dropbutton .dropbutton-action > .button {
  height: auto;
  width: 100%;
  padding: 2px 7px;
  color: #000;
  font-size: 12px;
  text-align: left; }

.views-filterable-options-controls input,
.views-filterable-options-controls select {
  width: 100%; }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Configuration page SCSS
 * |- Performance
 */
/**
 * Performance
 */
#edit-caching label {
  display: table; }

#edit-caching .form-select {
  margin: 7px 0; }

/* End */
/**
 * @file
 * SCSS file to generate CSS.
 *
 * Extend page SCSS
 */
.system-modules td details {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  white-space: normal; }
  .system-modules td details summary {
    margin-bottom: 0;
    border-bottom: none; }
  .system-modules td details .details-wrapper {
    padding-left: 15px; }

.system-modules td label {
  font-size: 14px; }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Appearance pages
 */
.theme-selector .screenshot {
  padding: 5px; }

.theme-selector.theme-default .screenshot {
  border-color: #0073AA;
  background-color: #0073AA; }

.theme-selector.theme-admin .screenshot {
  border-color: #23282D;
  background-color: #23282D; }

/**
 * @file
 * SCSS file to generate CSS.
 *
 * Help page SCSS
 */
@media (max-width: 992px) {
  .layout-column--quarter {
    width: 50%; } }

@media (max-width: 767px) {
  .layout-column--quarter {
    width: 100%; } }
