/**
 * @file
 * SCSS file to generate CSS.
 *
 * Nominal Admin theming.
 * |- Admin menu SCSS
 */

body {
  &.toolbar-tray-open {
    &.toolbar-vertical.toolbar-fixed {
      margin-left: 200px;

      .toolbar {
        .toolbar-tray-vertical {
          @include calc('height', '100% - 30px');
          overflow: auto;
        }
      }
    }
  }
}


/**
 * Main menu
 */
.toolbar-tray {
  &.toolbar-tray-vertical {
    .toolbar-lining {
      overflow: auto;
      background-color: #23282D;

      &[role='navigation'] {
        padding-bottom: 30px;
      }
    }
  }
}

.toolbar .toolbar-tray-horizontal {
  > .toolbar-lining {
    padding-right: 0;
  }
  .toolbar-menu {
    li {
      border: none;
      a.toolbar-icon {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #23282D;
        color: $white;
        text-decoration: none;
        &.is-active {
          background-color: $blue;
        }
        &:focus { background-color: transparent; }
      }
    }
  }
  .menu-item + .menu-item { border-color: #000; }
}

/* Administration toolbar */
.toolbar {
  /* Top horizontal menu */
  .toolbar-bar {
    background-color: #000;
    @include box-shadow(none);
    .toolbar-tab {
      a.toolbar-item {
        margin-right: 1px;
        padding: 8px 10px 8px 26px;
        font-weight: normal;
        font-family: sans-serif;
        text-decoration: none;
        &::before {
          left: 0;
          width: 12px;
          margin-left: 8px;
        }
        &:hover,
        &.is-active {
          background-color: #23282D;
          background-image: none;
        }
      }
      @media(max-width: 575px) {
        a.toolbar-item {
          padding-right: 0;
          padding-left: 0;
          &::before {
            width: 35px;
          }
        }
      }
      .toolbar-icon {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    > .toolbar-tab {
      > .toolbar-icon {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 33px;
        &::before {
          width: 15px;
        }
        &:hover {
          text-decoration: none;
        }
      }
      @media(max-width: 575px) {
        > .toolbar-icon {
          padding-right: 0;
          padding-left: 0;
          &::before {
            width: 40px;
            margin-left: 7px;
          }
        }
      }
    }
  }
  /* End */

  /* Admin menu - Vertical menu portion */
  .toolbar-tray {
    border: none;
    background-color: #23282D;
    @include box-shadow(none);
    &.toolbar-tray-vertical {
      width: 200px;

      .toolbar-menu {
        /* Selected menu for 1st level */
        > li {
          > a {
            &:hover {
              background-color: #191E23; /* Black color */
            }
            &.is-active { background-color: #0073AA; /* Seleted blue color */ }
          }
          &.open {
            > a {
              background-color: #151A1E;
              color: #FFF;
              &.is-active {
                background-color: #0073AA; /* Seleted blue color */
              }
            }
          }
        }
        /* End */

        li {
          a {
            padding: 13px 25px 13px 30px;
            color: #EEE;
            font-size: 13px;
            font-family: sans-serif;
            text-decoration: none;
            &::before {
              left: 0;
              width: 16px;
              margin-left: 7px;
            }
            &:active,
            &:focus,
            &.is-active {
              z-index: 4;
              background-color: transparent;
              color: #FFF;
              font-weight: normal;
              text-decoration: none;
            }
          }
        }
      }

      .edit-shortcuts {
        padding: 13px 25px 13px 30px;
        color: #EEE;
        font-size: 13px;
        font-family: sans-serif;
        text-decoration: none;
      }

      /* Toolbar tray */
      .toolbar-menu.root {
        /* Arrow button */
        .toolbar-icon {
          z-index: 5;
          &:focus { @include box-shadow(none); }
        }
        /* End */

        /* Selected menu for 1st level */
        > li {
          > .toolbar-box {
            > a {
              &:hover {
                background-color: #191E23; /* Black color */
              }
              &.is-active {
                background-color: #0073AA; /* Seleted blue color */
              }
            }
          }
          &.open {
            > .toolbar-box {
              > a {
                background-color: #151A1E;
                color: #FFF;
                &.is-active {
                  background-color: #0073AA; /* Seleted blue color */
                }
              }
            }
          }
        }
        /* End */

        .toolbar-menu { /* Level 2 menu */
          background-color: #32373C;
          color: #FFF;
          li {
            &::before {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              z-index: 3;
              height: 100%;
              width: 1px;
              margin: -16px 0 0 13px;
              border-left: 1px solid #787878;
              content: '';
            }
            &::after {
              position: absolute;
              top: 0;
              z-index: 3;
              width: 13px;
              margin: 16px 0 0 13px;
              border-top: 1px solid #787878;
              content: '';
            }
            &:last-child {
              &::before { max-height: 32px; }
            }
            a {
              padding-top: 10px;
              padding-bottom: 10px;
              color: #BBB;
            }

            .toolbar-menu { /* Level 3 menu */
              padding: 0 0 0 7px;
              li {
                &::before {
                  @include calc('height', '100% + 4px');
                }
                a {
                  padding-top: 8px;
                  padding-bottom: 8px;
                }
              }
            }
          }
        }

        /* Selected Parent menu */
        li.open {
          > .toolbar-box {
            > a {
              color: #FFF;
              &.is-active {
                color: #FFF;
              }
            }
          }
        }
        /* End */
      }
      /* End */
    }

    .menu-item--active-trail > .toolbar-box a,
    a.is-active {
      color: #FFF;
      font-weight: normal;
    }
    .menu-item--active-trail > .toolbar-box a:hover,
    a.is-active:hover {
      color: #FFF;
    }
  }
  /* End */

  .toolbar-toggle-orientation {
    background-color: transparent;
  }
}

.toolbar {
  .toolbar-menu {
    background-color: transparent;
  }
  .toolbar-tray-vertical {
    li.open {
      > ul {
        top: 0;
        left: 100%;
      }
    }
    .menu-item {
      position: relative;
      + .menu-item {
        border: none;
      }
    }
  }
  .toolbar-icon.toolbar-handle {
    width: 2rem;
    padding-left: 0;
    &::before {
      background-image: url('../images/arrow-down.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px;
    }
    &:focus {
      background-color: transparent;
    }
    &.open {
      &::before {
        background-image: url('../images/arrow-down.png');
        @include transform(rotate(180deg));
      }
    }
  }
  .toolbar-menu {
    .toolbar-menu .toolbar-icon.toolbar-handle {
      &::before {
        left: 0;
        width: 100%;
        background-image: url('../images/arrow-down.png');
        background-size: 10px;
      }
      &.open {
        &::before {
          background-image: url('../images/arrow-down.png');
          background-size: 10px;
          @include transform(rotate(180deg));
        }
      }
    }
  }
  .toolbar-icon.toolbar-handle {
    &::before {
      left: 0;
      width: 100%;
    }
  }
  .toolbar-tray-vertical .toolbar-menu ul ul { border: none; }
  .toolbar-tray-horizontal .toolbar-toggle-orientation { border-color: #000; }
}

.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation { border-top: 1px solid #000; }


/**
 * Custom scrollbar
 */
.mCSB_inside {
  > .mCSB_container {
    margin-right: 0;
  }
  .mCSB_scrollTools {
    z-index: 10;
    width: 6px;
    opacity: 1;
    .mCSB_draggerRail {
      display: none;
    }
    .mCSB_dragger {
      .mCSB_dragger_bar {
        opacity: .3;
      }
    }
  }
}

/* Top menu icon */
.toolbar .toolbar-icon-escape-admin::before,
[dir="rtl"] .toolbar .toolbar-icon-escape-admin::before {
  background-image: url('../images/top-menu/chevron-disc-left.svg');
}
.toolbar-bar .toolbar-icon-menu::before,
.toolbar-bar .toolbar-icon-menu:active::before,
.toolbar-bar .toolbar-icon-menu.is-active::before {
  background-image: url('../images/top-menu/hamburger.svg');
}
.toolbar-bar .toolbar-icon-shortcut::before,
.toolbar-bar .toolbar-icon-shortcut:active::before,
.toolbar-bar .toolbar-icon-shortcut.is-active::before {
  background-image: url('../images/top-menu/star.svg');
}
.toolbar-bar .toolbar-icon-user::before,
.toolbar-bar .toolbar-icon-user:active::before,
.toolbar-bar .toolbar-icon-user.is-active::before {
  background-image: url('../images/top-menu/person.svg');
}
.toolbar-bar .toolbar-icon-edit::before {
  background-image: url('../images/top-menu/pencil.svg');
}


/**
 * Main menu icons.
 */
.toolbar-icon-system-admin-content::before,
.toolbar-icon-system-admin-content:active::before,
.toolbar-icon-system-admin-content.is-active::before {
  background-image: url('../images/main-menu/file.svg');
}
.toolbar-icon-system-admin-structure::before,
.toolbar-icon-system-admin-structure:active::before,
.toolbar-icon-system-admin-structure.is-active::before {
  background-image: url('../images/main-menu/orgchart.svg');
}
.toolbar-icon-system-themes-page::before,
.toolbar-icon-system-themes-page:active::before,
.toolbar-icon-system-themes-page.is-active::before {
  background-image: url('../images/main-menu/paintbrush.svg');
}
.toolbar-icon-entity-user-collection::before,
.toolbar-icon-entity-user-collection:active::before,
.toolbar-icon-entity-user-collection.is-active::before {
  background-image: url('../images/main-menu/people.svg');
}
.toolbar-icon-system-modules-list::before,
.toolbar-icon-system-modules-list:active::before,
.toolbar-icon-system-modules-list.is-active::before {
  background-image: url('../images/main-menu/puzzlepiece.svg');
}
.toolbar-icon-system-admin-config::before,
.toolbar-icon-system-admin-config:active::before,
.toolbar-icon-system-admin-config.is-active::before {
  background-image: url('../images/main-menu/wrench.svg');
}
.toolbar-icon-system-admin-reports::before,
.toolbar-icon-system-admin-reports:active::before,
.toolbar-icon-system-admin-reports.is-active::before {
  background-image: url('../images/main-menu/barchart.svg');
}
.toolbar-icon-help-main::before,
.toolbar-icon-help-main:active::before,
.toolbar-icon-help-main.is-active::before {
  background-image: url('../images/main-menu/questionmark-disc.svg');
}
