/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form SCSS
 * - Label Design
 * - Textarea Design
 * - Button Design
 * - Custom checkbox design
 * - Select option
 * - Dropbutton
 *
 */


input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='search'],
textarea,
select,
.form-control {
  height: 30px;
  width: auto;
  padding: 4px 12px;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
  line-height: normal;
  font-family: sans-serif;
  vertical-align: middle;
  @include border-radius(0);
  @include box-shadow(none);
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='search']:focus,
textarea:focus,
select:focus,
.form-control:focus {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .2));
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='search'],
textarea {
  @include appearance(none);
}

/* Label Design */
label {
  display: table;
  font-family: sans-serif;
}
label.option {
  display: inline-block;
  font-family: sans-serif;
}

/* Textarea Design */
textarea {
  height: auto;
}

/* Button Design */
.button,
button,
input[type='submit'],
input[type='button'],
/* UI dialog button */
.ui-dialog .dropbutton-action a,
.ui-dialog .ui-dialog-buttonpane button,
/* Place button */
.dropbutton-single .dropbutton-action .use-ajax {
  display: inline-block;
  height: 30px;
  width: auto;
  padding: 5px 15px;
  border: none;
  background-color: $blue;
  background-image: none;
  color: $white;
  font-size: 14px;
  line-height: normal;
  font-family: sans-serif;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  @include border-radius(0);
}
.button:hover,
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
.ui-dialog .dropbutton-action a:hover,
.ui-dialog .ui-dialog-buttonpane button:hover,
.dropbutton-single .dropbutton-action .use-ajax:hover {
  opacity: .9;
}
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='button']:focus,
.ui-dialog .dropbutton-action a:focus,
.ui-dialog .ui-dialog-buttonpane button:focus,
.dropbutton-single .dropbutton-action .use-ajax:focus {
  @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, .2));
}

/* UI dialog button design */
.ui-dialog .ui-dialog-buttonpane button {
  margin-top: 0;
  margin-bottom: 0;
}
.ui-button-text-only .ui-button-text {
  padding: 0;
}

/* For small elements */
.dropbutton-single .dropbutton-action .use-ajax,
.ui-dialog .dropbutton-action a,
.button--small {
  height: 22px;
  padding: 2px 8px;
  font-size: 12px;
}
table {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='tel'],
  select,
  .form-control {
    height: 22px;
    padding: 1px 8px;
    font-size: 12px;
  }
  select {
    height: 22px;
    padding-right: 17px;
    background-position: center right 6px;
    background-size: 10px auto;
  }
}
/* End */

/* Custom checkbox design */
.input-rc {
  position: relative;
  display: inline-block;
  + label {
    margin: -2px 0 0;
    padding-left: 5px;
    vertical-align: top;
  }
}
.input-rc input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  + .input-rc-span {
    float: left;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0;
    background-image: url('../images/checkbox.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    content: '';
  }
  &:checked + .input-rc-span {
    background-image: url('../images/checkbox-check.png');
    background-repeat: no-repeat;
  }
}
.input-rc-disabled {
  opacity: .5;
}
.input-rc-none {
  display: none;
}

/* Select option */
select {
  padding-top: 2px;
  padding-right: 25px;
  padding-bottom: 2px;
  border: 1px solid #CCC;
  background-image: url('../images/arrow-down-black.png');
  background-position: center right 10px;
  background-repeat: no-repeat;
  background-size: 12px auto;
  @include appearance(none);
}
select[multiple= 'multiple'] {
  height: 100px;
  background-image: none;
}

/* Dropbutton */
.js {
  .dropbutton-multiple {
    .dropbutton-widget {
      min-width: 80px;
      padding-right: 22px;
      border: 1px solid $light-gray-a6;
      background-color: $white;
      .dropbutton {
        .dropbutton-action {
          a {
            padding: 2px 7px;
            color: $black;
            font-size: 12px;
          }
        }
        .dropbutton-toggle {
          width: 22px;
          button {
            border-left: 1px solid $light-gray-a6;
            color: $black;
            &:focus {
              @include box-shadow(none);
            }
            .dropbutton-arrow {
              right: 50%;
              margin-top: -1px;
              margin-right: -5px;
            }
          }
        }
        .secondary-action {
          border-top: 1px solid $light-gray-a6;
        }
      }
    }
  }
}
/* End */
