/**
 * @file
 * SCSS file to generate CSS.
 *
 * Base css of site
 */

* {
  line-height: normal;
  outline: none;
  @include box-sizing(border-box);
  &:hover,
  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  padding-bottom: 50px;
  background-color: $light-gray-f5;
  font-size: 14px;
  font-family: sans-serif;
}

a,
button.link {
  background-color: transparent;
  color: $blue;
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none;
  &:hover,
  &:focus {
    outline: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

video {
  height: auto;
  width: 100%;
}
