/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */


/**
 * Color code
 */
$white:         #FFF;
$black:         #000;
$light-gray-ee: #EEE;
$light-gray-f1: #F1F1F1;
$light-gray-f5: #F5F5F5;
$light-gray-e5: #E5E5E5;
$light-gray-a6: #A6A6A6;
$blue:          #0073AA;
$dark-blue:     #263951;
$lighter-blue:  #F7FCFF;
