/**
 * @file
 * SCSS file to generate CSS.
 *
 * Components design.
 * - Container panel
 * - Admin list
 * - Detail and summary tag
 * - Header section
 * - Breadcrumb
 * - Tabs
 * - Table listing
 * - Form element
 * - Pagination
 * - Popup (ui-dialog)
 * - contextual link
 */


/**
 * Container panel
 */
.panel {
  margin: 0 0 20px;
  padding: 0;
  border: 1px solid $light-gray-e5;
  background-color: $white;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, .4));
  .panel__title {
    margin: 0;
    padding: 12px 20px;
    border-bottom: 1px solid $light-gray-e5;
    font-size: 16px;
  }
  .panel__content {
    padding: 0;
  }
}
/* End */

/**
 * Admin list
 */
.white-bg {
  background-color: $white;
}
ul.admin-list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
  li {
    padding: 10px 0;
    border-bottom: 1px solid $light-gray-e5;
    &:last-child {
      border-bottom: none;
    }
    a {
      background-position: center left;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      font-family: sans-serif;
      &:hover {
        opacity: .8;
      }
    }
    .description {
      margin-top: 3px;
    }
  }
}
/* End */

/**
 * Detail and summary tag
 */
details {
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 14px;
  border: 1px solid $light-gray-e5;
  background-color: $white;
  summary {
    margin-bottom: 14px;
    padding: 0 0 8px;
    border-bottom: 1px solid $light-gray-e5;
  }
}
/* End */


/**
 * Header section
 */
.js-quickedit-page-title {
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: $dark-blue;
  color: #FFF;
  font-weight: normal;
  font-family: sans-serif;
  h1 {
    display: inline-block;
    width: 100%;
  }
}
/* End */

/**
 * Breadcrumb
 */
.breadcrumb {
  margin-bottom: 10px;
  padding: 10px;
  background-color: $white;
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      &::before {
        content: '»';
      }
      &:first-child {
        &::before {
          content: '';
        }
      }
    }
  }
}
/* End */


/**
 * Tabs
 */
ul.tabs {
  padding: 0;
  list-style: none;
}
/* Horizontal tab */
.is-horizontal {
  .tabs {
    position: relative;
    background-color: $white;
    &::before {
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
      z-index: 10;
      display: block;
      height: 1px;
      background-color: $light-gray-a6;
      content: '';
    }
    &.primary {
      clear: both;
      margin: 15px 0;
      li {
        a {
          margin: 0 0 -1px;
          padding: 13px 28px;
          &.is-active {
            padding-top: 10px;
            border: 1px solid $light-gray-a6;
            border-top: 3px solid $blue;
            border-bottom: none;
            background-color: $light-gray-f1;
          }
        }
        @media (max-width: 992px) {
          a {
            padding: 9px 13px;
            &.is-active {
              padding-top: 6px;
            }
          }
        }
      }
    }
    &.secondary {
      li {
        a {
          border-bottom: 2px solid transparent;
          &.is-active {
            border-bottom-color: $blue;
            color: #004F80;
          }
        }
      }
    }
    a {
      display: block;
      padding: 10px 25px;
    }
  }
  li {
    float: left;
    height: auto;
    width: auto;
    text-align: center;
    a {
      position: relative;
      z-index: 15;
    }
  }
  .tabs__trigger {
    display: none;
  }
}

/* Vertical tab */
.vertical-tabs {
  background-color: $white;
  .vertical-tabs__menu-item {
    a {
      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}


/**
 * Table listing
 */
.js {
  table {
    td {
      .dropbutton-wrapper { min-height: 20px; }
    }
  }
}
table {
  width: 100%;
  margin: 0 0 10px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $white;
  thead {
    tr {
      background-color: #CCC;
      &:hover { background-color: #CCC; }
    }
    th {
      padding: 7px 12px;
      background-color: transparent;
      text-align: left;
      text-transform: uppercase;
      vertical-align: top;
    }
  }
  tr {
    border-bottom: 1px solid $light-gray-e5;
    &:hover {
      background-color: $light-gray-f5;
    }
    td {
      padding: 7px 12px;
      text-align: left;
      vertical-align: middle;
    }
    &.region-title {
      border-bottom: none;
      background-color: $light-gray-ee;
      &:hover { background-color: $light-gray-f5; }
    }
  }
  .draggable {
    .tabledrag-handle {
      display: inline-block;
      height: 14px;
      width: 14px;
      margin: 3px 5px 0 0;
      .handle {
        display: inline-block;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-position: center;
      }
    }
  }
  .form-item,
  .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.touchevents .draggable td {
  padding: 7px 12px;
}
.responsive-tbl {
  @media (max-width: 1024px) {
    min-height: 190px;
    overflow-x: auto;
  }
}
/* End */


/**
 * Form element
 */
.form--inline {
  .form-item {
    float: left;
    margin-right: 10px;
    label {
      display: table;
    }
  }
  .form-actions {
    clear: left;
  }
}
.form-item,
.form-actions {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* End */


/**
 * Pagination
 */
.pager {
  text-align: center;
  .pager__items {
    display: inline-block;
    padding: 0;
    text-align: center;
    list-style: none;
    .pager__item {
      float: left;
      margin-left: -1px;
      border: 1px solid #222;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
      a {
        display: flex;
        height: 28px;
        padding: 3px 17px;
        background-color: #23282D;
        color: $white;
        align-items: center;
        &:hover,
        &:focus {
          height: 38px;
          margin-top: -10px;
        }
      }
      &.is-active {
        a {
          height: 38px;
          margin-top: -10px;
        }
      }
      &.pager__item--previous {
        border-right: 3px solid #999;
      }
      &.pager__item--next {
        border-left: 2px solid #999;
      }
      &.pager__item--previous,
      &.pager__item--next {
        a {
          &::after {
            display: inline-block;
            font-size: 20px;
            content: '-';
          }
          span {
            font-size: 0;
          }
        }
      }
      &.pager__item--next {
        a {
          &::after {
            content: '+';
          }
        }
      }
    }
    .pager__item--ellipsis {
      display: none;
    }
  }
}
/* End */


/**
 * Popup (ui-dialog)
 */
.ui-dialog {
  z-index: 999 !important;
  padding: 0;
  border: none;
  @include border-radius(0);
  .ui-dialog-titlebar {
    border: none;
    background-color: $dark-blue;
    background-image: none;
    color: $white;
    font-size: 20px;
    font-weight: normal;
    font-family: sans-serif;
    @include border-radius(0);
    .ui-button {
      border: none;
      background-color: transparent;
      background-image: none;
      color: $white;
      opacity: .8;
      &:hover,
      &:focus {
        opacity: 1;
      }
      .ui-icon {
        background-image: url('../images/close-icon.svg');
        background-position: center;
      }
    }
  }
  .ui-widget-content {
    padding: 15px;
    table {
      margin-bottom: 15px;
    }
    ul.action-links {
      margin: 0;
      a {
        color: $white;
      }
    }
    .js-form-item {
      .form-textarea {
        width: 100%;
      }
    }
  }
}
/* End */


/**
 * contextual link
 */
.contextual-region {
  .contextual {
    .trigger {
      &:focus {
        background-color: #FCFCFC;
        @include box-shadow(none);
      }
    }
    .contextual-links {
      background-color: #FCFCFC;
      li {
        background-color: #FCFCFC;
        a {
          background-color: #FCFCFC;
        }
      }
    }
  }
}
/* End */
