{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% extends "@block/block.html.twig" %}
{% block content %}
  {% if content %}
    <ul class="action-links">
      {{ content }}
    </ul>
  {% endif %}
{% endblock %}
