{#
/**
 * @file
 * Default theme implementation for the content of an administrative block.
 *
 * Available variables:
 * - content: A list containing information about the block. Each element
 *   of the array represents an administrative menu item, and must at least
 *   contain the keys 'title', 'link_path', and 'localized_options', which are
 *   passed to l(). A 'description' key may also be provided.
 * - attributes: HTML attributes to be added to the element.
 * - compact: Boolean indicating whether compact mode is turned on or not.
 *
 * @see template_preprocess_admin_block_content()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'admin-list',
    compact ? 'compact',
  ]
%}
{% if content %}
<div class="white-bg">
  <ul{{ attributes.addClass(classes) }}>
    {% for item in content %}
      <li>
        <a href="{{ item.url }}"><span class="label">{{ item.title }}</span></a>
        <div class="description">{{ item.description }}</div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
