/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Appearance pages
 */

.theme-selector {
  .screenshot {
    padding: 5px;
  }
  &.theme-default {
    .screenshot {
      border-color: #0073AA;
      background-color: #0073AA;
    }
  }
  &.theme-admin {
    .screenshot {
      border-color: #23282D;
      background-color: #23282D;
    }
  }
}
