/**
 * @file
 * SCSS file to generate CSS.
 *
 * Configuration page SCSS
 * |- Performance
 */

/**
 * Performance
 */
#edit-caching {
  label {
    display: table;
  }
  .form-select {
    margin: 7px 0;
  }
}
/* End */
