/**
 * @file
 * SCSS file to generate CSS.
 *
 * Extend page SCSS
 */

.system-modules {
  td {
    details {
      padding-top: 0;
      padding-bottom: 0;
      background-color: transparent;
      white-space: normal;
      summary {
        margin-bottom: 0;
        border-bottom: none;
      }
      .details-wrapper {
        padding-left: 15px;
      }
    }
    label {
      font-size: 14px;
    }
  }
}
