/**
 * @file
 * SCSS file to generate CSS.
 *
 * Help page SCSS
 */

@media (max-width: 992px) {
  .layout-column--quarter {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .layout-column--quarter {
    width: 100%;
  }
}

