/**
 * @file
 * SCSS file to generate CSS.
 *
 * Design of Structure & inner pages
 * Structure
 * |- Block layout
 * |- Content types
 * |- View
 */


/**
 * Block layout page
 */
table#blocks {
  .region-title {
    .region-title__action {
      float: right;
    }
  }
}

ul.action-links {
  padding: 0;
  list-style: none;
}
/* End */


/**
 * Content types
 */
#field-display-overview {
  .field-plugin-settings-editing {
    background-color: $light-gray-f1;
    .form-item,
    .form-actions {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
/* End */


/**
 * View
 */
.views-displays {
  .tabs {
    .action-list {
      input.form-submit {
        color: $blue;
      }
    }
  }
}
.views-display-column {
  padding: 5px 14px 14px;
  border: 1px solid $white;
  background-color: $white;
}
.views-ui-display-tab-bucket {
  h3 {
    font-size: 14px;
    text-align: left;
  }
  .views-display-setting {
    font-size: 14px;
  }
}
.js {
  .dropbutton-wrapper.dropbutton-single {
    .dropbutton-widget {
      .dropbutton-action {
        a {
          padding: 1px 7px;
          border: 1px solid $light-gray-a6;
          color: $black;
          font-size: 12px;
        }
      }
    }
  }
  .views-edit-view {
    .dropbutton-wrapper {
      .dropbutton {
        .dropbutton-action {
          > .button {
            height: auto;
            width: 100%;
            padding: 2px 7px;
            color: $black;
            font-size: 12px;
            text-align: left;
          }
        }
      }
    }
  }
}
.views-filterable-options-controls {
  input,
  select {
    width: 100%;
  }
}
